
<template>
  <body>
    <div id="app">
      <header>
        <h1>Music Player&nbsp;<span class="mdi mdi-music-circle-outline"></span></h1>
      </header>
      <main>
        <section class="player">
          <h2 class="song-title">{{ current.title }} - <span>{{ current.artist }}</span></h2>
          <div class="controls">
            <button class="prev" @click="prev"><span class="mdi mdi-skip-previous-outline"></span></button>
            <button class="play" v-if="!isPlaying" @click="play"><span class="mdi mdi-play-outline"></span></button>
            <button class="pause" v-else @click="pause"><span class="mdi mdi-pause-box-outline"></span></button>
            <button class="next" @click="next"><span class="mdi mdi-skip-next-outline"></span></button>
          </div>
          <div class="progress-bar">
            <div class="current-time">{{ formattedCurrentTime }}</div>
            <input type="range" class="seek-bar" v-model="seek" @input="seekTrack" @mousedown="seekBarClick"/>
            <div class="duration">{{ formattedDuration }}</div>
          </div>
          
        </section>
        <section class="playlist">
          <h3>The Playlist</h3>
          <button v-for="song in songs" 
          :key="song.src" @click="play(song)" 
  
          :class="(song.src == current.src) ? 'song playing' : 'song'"
         >
            {{ song.title }} - {{ song.artist }}
          </button>
        </section>
      </main>
    </div>
  </body>
</template>
<script>
export default {
  name: 'app',
  data () {
    return {
      current: {},
      index: 0,
      isPlaying: false,
      songs: [
        {
          title: 'Dhama',
          artist: ' Vijay,M. M. Manasi,Thaman S',
          src:'https://dns4.pendusaab.com/download/128k-wstum/Dhamaa-Thundu-(1-Min-Music).mp3',
          image:'assets/varisu.jpg'
        },
        {
          title: 'Killadi',
          artist: 'Unknown0',
          src:  'https://dns4.pendusaab.com/download/128k-wstux/Killadi-Rani-(1-Min-Music).mp3'
        },
        {
          title:'Adharanjali',
          artist:'Unknown2',
          src: 'https://dns4.pendusaab.com/download/128k-wsfza/Aadharanjali.mp3'

        },
         {
          title:'Coka',
          artist:'Unknown3',
          src: 'https://dns4.pendusaab.com/download/128k-wswht/Coka-2.0-(From-Liger-(Malayalam)).mp3'

        },
      ], 
      player: new Audio(),
      seek: 0,
      duration: 0,
      currentTime: 0,
     
    }
  },
  computed: {
    formattedDuration () {
      let minutes = Math.floor(this.duration / 60)
      let seconds = Math.floor(this.duration % 60)
      return minutes + ':' + ((seconds < 10) ? '0' + seconds : seconds)
    },
    formattedCurrentTime () {
      let minutes = Math.floor(this.currentTime / 60)
      let seconds = Math.floor(this.currentTime % 60)
      return minutes + ':' + ((seconds < 10) ? '0' + seconds : seconds)
    }
    },
  methods: {
    play (song) {
        if (typeof song.src != "undefined") {
          this.current = song;
          this.player.src = this.current.src;
        }
        this.player.play();
        this.player.addEventListener('ended', function () {
          this.index++;
          if (this.index > this.songs.length - 1) {
            this.index = 0;
          }
          this.current = this.songs[this.index];
          this.play(this.current);
        }.bind(this));
        this.isPlaying = true;
      },
      pause () {
        this.player.pause();
        this.isPlaying = false;
      },
      next () {
        this.index++;
        if (this.index > this.songs.length - 1) {
          this.index = 0;
        }
        this.current = this.songs[this.index];
        this.play(this.current);
      },
      prev () {
        this.index--;
        if (this.index < 0) {
          this.index = this.songs.length - 1;
        }
        this.current = this.songs[this.index];
        this.play(this.current);
      },
    updateSeek () {
    this.currentTime = Math.floor(this.player.currentTime);
    this.duration = Math.floor(this.player.duration);
    this.seek = (this.currentTime / this.duration) * 100;
  },
  seekTrack (event) {
    let seekBar = event.target.getBoundingClientRect();
    let seekLocation = event.clientX - seekBar.left;
    let percent = seekLocation / seekBar.width;
    this.player.currentTime = percent * this.duration;

    this.player.removeEventListener('ended', this.onEnded);
    this.player.addEventListener('ended', this.onEnded);
  },
  seekBarClick (event) {
    let seekBar = event.target.getBoundingClientRect();
    let seekLocation = event.clientX - seekBar.left;
    let percent = seekLocation / seekBar.width;
    this.player.currentTime = percent * this.duration;

    this.player.removeEventListener('ended', this.onEnded);
    this.player.addEventListener('ended', this.onEnded);
  },
  onEnded () {
    this.index++;
    if (this.index > this.songs.length - 1) {
      this.index = 0;
    }
    this.current = this.songs[this.index];
    this.play(this.current);
  },
    },
    created () {
      this.current = this.songs[this.index];
      this.player.src = this.current.src;
      this.player.addEventListener('timeupdate', this.updateSeek);
      this.player.addEventListener('ended', this.onEnded);
      
    },
    
    
  }
  </script>
  
  <style>
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  body {
      font-family: sans-serif;
  }
  header {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px;
      background-color: #212121;
      color: #FFF;
  }
  main {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    padding: 25px;
  }
  .song-title {
    color: #a1a4a7;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
  .song-title span {
    font-weight: 400;
    font-style: italic;
  }
  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 15px;
  }
  button {
    appearance: none;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
  }
  button:hover {
    opacity: 0.8;
  }
  .play, .pause {
    font-size: 20px;
    font-weight: 700;
    padding: 15px 25px;
    margin: 0px 15px;
    border-radius: 8px;
    color: #FFF;
    background-color: #4b4e4c;
  }
  .next, .prev {
    font-size: 16px;
    font-weight: 700;
    padding: 10px 20px;
    margin: 0px 15px;
    border-radius: 6px;
    color: #FFF;
    background-image: linear-gradient(to right, #060606, #7b7979);
  }
  .playlist {
    padding: 0px 30px;
  }
  .playlist h3 {
    color: #FFF;;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 30px;
    text-align: center;
  }
  .playlist .song {
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
  }
  .playlist .song:hover {
    color: #FF5858;
  }
  .playlist .song.playing {
    color: #FFF;
    background-image: linear-gradient(to right, #060606, #7b7979);
    border-radius: 6px;
    
  }
  body{
    background-image: url("https://images.unsplash.com/photo-1505740420928-5e560c06d30e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTd8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80");
    
  }
  .progress-bar, .current-time{
    text-align: center;
  }
  </style>